In [71]:
import dask.dataframe as dd
import pandas as pd
pd.options.display.precision = 2
pd.options.display.max_rows = 10

In [72]:
ls *.csv

Youtube01-Psy.csv        Youtube03-LMFAO.csv   Youtube05-Shakira.csv
Youtube02-KatyPerry.csv  Youtube04-Eminem.csv

In [73]:
%%time
You_Tube = dd.read_csv('Youtube*.csv')

CPU times: user 11.3 ms, sys: 0 ns, total: 11.3 ms
Wall time: 10.2 ms

In [74]:
dd.compute()

()

In [75]:
You_Tube

Dask DataFrame Structure:
              COMMENT_ID  AUTHOR    DATE CONTENT  CLASS
npartitions=5
                  object  object  object  object  int64
                     ...     ...     ...     ...    ...
...                  ...     ...     ...     ...    ...
                     ...     ...     ...     ...    ...
                     ...     ...     ...     ...    ...
Dask Name: from-delayed, 15 tasks

In [76]:
You_Tube.head(100)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1
...,...,...,...,...,...
95,z12mtx5hxnutsxzfn23tsljjrm2mwxtwm04,Олег Пась,2014-11-03T23:29:00,Plizz withing my channel ﻿,1
96,z121ft552pzpzhiab04cffmwitfii3lr5v40k,Crooked Gaming,2014-11-04T00:00:57,I made a gaming channel (Unique right?) :L Ang...,1
97,z135jnejqyylxvxc323tifugxr3idl1oq04,Monwar Sarkar,2014-11-04T00:18:07,Please help me go here http://www.gofundme.com...,1
98,z13zfpqpvpyvwfymk232ux4odsr1s5wm0,Jack ToadROXMK,2014-11-04T02:00:14,Anybody who subscribes to me will get 10 subsc...,1
99,z13sx1mitrmpcls3f22hi5ep1yq5cvmld,roflcopter2110,2014-11-04T02:22:06,http://thepiratebay.se/torrent/6381501/Timothy...,1

In [114]:
You_Tube['CLASS'].value_counts().compute()

1    1005
0     951
Name: CLASS, dtype: int64

In [115]:
spam = You_Tube.loc[You_Tube['CLASS']==1]   
spam['CLASS'].value_counts().compute()

1    1005
Name: CLASS, dtype: int64

In [116]:
legit = You_Tube.loc[You_Tube['CLASS']==0]   
legit['CLASS'].value_counts().compute()

0    951
Name: CLASS, dtype: int64

In [119]:
check_spam = spam['CONTENT'].str.contains('check', case=False).compute()
ctr=0
for i in check_spam:
    if i == True:
        ctr=ctr+1
print(ctr, 'spam comments contain the word Check')

461 spam comments contain the word Check

In [121]:
check_legit = legit['CONTENT'].str.contains('check', case=False).compute()
ctr=0
for i in check_legit:
    if i == True:
        ctr=ctr+1
print(ctr, 'legitimate comments contain the word Check')

19 legitimate comments contain the word Check

### Big Data Options

Big Data services offer various alternatives to scaling out large computational jobs.
AWS Sagemaker runs jupyter notebooks in a cluster to take advantage of parallel processing.  You can use Libraries like numba and Dask that take advantage of the cluster by partioning both the compute processes and the data set. DataBricks clusters concentrates on Spark with Scala(the newest technology) while AWS EMR clusters run Hadoop/MapReduce which has been in use for several years.