### Part 1

In [14]:
import dask.dataframe as dd
from dask import compute

In [8]:
# read in the 5 files
psy = dd.read_csv('Youtube01-Psy.csv')
kp = dd.read_csv('Youtube02-KatyPerry.csv')
lmao = dd.read_csv('Youtube03-LMFAO.csv')
em = dd.read_csv('Youtube04-Eminem.csv')
shak = dd.read_csv('Youtube05-Shakira.csv')

In [22]:
# concat dataframes and see head
df = dd.concat([psy, kp, lmao, em, shak])
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [26]:
df.shape[0].compute(), df.shape[1] # rows, columns

(1956, 5)

In [27]:
# value counts of spam vs non-spam
df['CLASS'].value_counts().compute()

1    1005
0     951
Name: CLASS, dtype: int64

In [32]:
# Convert content column to lowercase letters
df['CONTENT'] = df['CONTENT'].str.lower()

# Make column the sees if content column contains word 'check'
df['CHECK'] = df['CONTENT'].str.contains('check')

In [33]:
# See changes are made
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,CHECK
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"huh, anyway check out this you[tube] channel: ...",1,True
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,hey guys check out my new channel and our firs...,1,True
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test i have to say murdev.com,1,False
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1,False
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtarggvgtwq check this out .﻿,1,True

In [34]:
# Spam comments -- 461 contain word 'check'
df[df['CLASS'] == 1]['CHECK'].value_counts().compute()

False    544
True     461
Name: CHECK, dtype: int64

In [35]:
# Legit comments -- 19 contain word 'check'
df[df['CLASS'] == 0]['CHECK'].value_counts().compute()

False    932
True      19
Name: CHECK, dtype: int64

### Part 2

When deciding whether to scale up or scale out, it's important to keep a couple things in mind. First, you should think about costs. If you are doing a variety of data science projects that need a little more RAM, it may be more cost efficient in the long-run to get a slightly bigger/better machine (scale up). With scaling up, you can use standard tools such as Python and SQL. However, if a single project requires very intensive and complex computations on huge datasets, it will be more cost efficient to scale out. This will require using tools such as AWS SageMaker, Databricks, Scala, Spark and more. It's also import to keep in mind that scaling out will add more complexity to your project. This can be factored in to your cost considerations as it will take more hours to get a project to scale out. With scaling up, almost everything remains the same except for your machine size, so complexity is minimal. There are trade-offs for choosing either option (i.e. there's no such thing as a free lunch).