In [9]:
import dask.dataframe as dd

In [10]:
df = dd.read_csv('/home/ec2-user/SageMaker/*.csv')

In [11]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [12]:
# Load the five csv files into one Dask Dataframe. It should have a length of 1956 rows, and 5 columns.
print(len(df))
print(len(df.columns))

1956
5

In [13]:
# Use the Dask Dataframe to compute the counts of spam (1005 comments) 
# versus the counts of legitimate comments (951).
spam_df = df[df.CLASS == 1]
nonspam_df = df[df.CLASS == 0]
print("Spam Count:",len(spam_df))
print("Nonspam Count:",len(nonspam_df))

Spam Count: 1005
Nonspam Count: 951

In [14]:
# Spammers often tell people to check out their stuff! 
# When the comments are converted to lowercase, then 461 spam comments 
print(spam_df.CONTENT.str.lower().str.contains('check').compute().value_counts()[1])

# contain the word "check", versus only 19 legitimate comments which contain 
# the word "check." Use the Dask Dataframe to compute these counts.
print(nonspam_df.CONTENT.str.lower().str.contains('check').compute().value_counts()[1])

461
19

In [22]:
# Stretch
df.groupby('CLASS').count().head(2)

       COMMENT_ID  AUTHOR  DATE  CONTENT
CLASS
0             951     951   951      951
1            1005    1005   760     1005

In [31]:
df.groupby('CLASS').count().describe().head(8)

        COMMENT_ID       AUTHOR        DATE      CONTENT
count     2.000000     2.000000    2.000000     2.000000
mean    978.000000   978.000000  855.500000   978.000000
std      38.183766    38.183766  135.057395    38.183766
min     951.000000   951.000000  760.000000   951.000000
25%     964.500000   964.500000  807.750000   964.500000
50%     978.000000   978.000000  855.500000   978.000000
75%     991.500000   991.500000  903.250000   991.500000
max    1005.000000  1005.000000  951.000000  1005.000000

In [45]:
df.groupby(['AUTHOR','CLASS']).count().describe().head(8)

        COMMENT_ID         DATE      CONTENT
count  1793.000000  1793.000000  1793.000000
mean      1.090909     0.954267     1.090909
std       0.473742     0.460644     0.473742
min       1.000000     0.000000     1.000000
25%       1.000000     1.000000     1.000000
50%       1.000000     1.000000     1.000000
75%       1.000000     1.000000     1.000000
max       8.000000     7.000000     8.000000

# Part 2. Big data options
You've been introduced to a variety of platforms (AWS SageMaker, AWS EMR, Databricks), libraries (Numba, Dask, MapReduce, Spark), and languages (Python, SQL, Scala, Java) that can "scale up" or "scale out" for faster processing of big data.

Write a paragraph comparing some of these technology options. For example, you could describe which technology you may personally prefer to use, in what circumstances, for what reasons.

(You can add your paragraph as a Markdown cell at the bottom of your SageMaker Notebook.)

For small dataset, I would use python to evaluate such data in local jupyter notebook or Google Colab environment.  For medium size to large dataset that requires greater computational power or memory, I would resort to AWS SageMaker to scale up.  Additionally, I would utilize Numba and Dask library to optimize the execution of codes and spread the workload respectively.  With big data that exceeds the technical specs of a single AWS server can provide, it is best to scale out by using Spark framework to spread the workload across multiple machines.  In this case, I would use Scala language to evaluate such big data in Spark since it is optimized for Scala.  If needed, I can also use SQL, Java, or Python in the Spark framework.