In [42]:
import pandas as pd
import dask.dataframe as dd
from dask.distributed import Client
from dask import compute, delayed 

data1 = dd.read_csv('Youtube01-Psy.csv')
data2 = dd.read_csv('Youtube02-KatyPerry.csv')
data3 = dd.read_csv('Youtube03-LMFAO.csv')
data4 = dd.read_csv('Youtube04-Eminem.csv')
data5 = dd.read_csv('Youtube05-Shakira.csv')

In [43]:
frames = [data1, data2, data3, data4, data5]
result = dd.concat(frames)

In [44]:
result.COMMENT_ID.count().compute()

1956

In [45]:
compute(delayed(result.groupby('CLASS').count()))

(       COMMENT_ID  AUTHOR  DATE  CONTENT
 CLASS
 0             951     951   951      951
 1            1005    1005   760     1005,)

In [46]:
result.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [49]:
result['CONTENT'] = result["CONTENT"].map(lambda x: x.lower())

In [52]:
check_rows = result[result['CONTENT'].str.contains("check")]

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,hey guys check out my new channel and our firs...,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtarggvgtwq check this out .﻿,1
5,LZQPQhLyRh9-wNRtlZDM90f1k0BrdVdJyN_YsaSwfxc,Jason Haddad,2013-11-26T02:55:11,"hey, check out my new website!! this site is a...",1
7,z122wfnzgt30fhubn04cdn3xfx2mxzngsl40k,Bob Kanowski,2013-11-28T12:33:27,i turned it on mute as soon is i came on i jus...,0

In [54]:
compute(delayed(check_rows.groupby('CLASS').count()))

(       COMMENT_ID  AUTHOR  DATE  CONTENT
 CLASS
 0              19      19    19       19
 1             461     461   294      461,)

Of all the areas of study this week, the best workflow in my opinion would be AWS Sagemaker, using the dask dataframe and python. I prefer python over SQL or SCALA because I feel it has more applications. 

For example, with python, you can create models to pull data from the dataframe as well as build other functions of a website. 

If I were to start a tech startup, I believe I would utilize the scale out model over scaling up. While scaling up is quicker in the short term, it is inevitable as data grows, that the company would need to scale out. When that happens, I would have to change all the code, retrain web developers, and get them on board with the migration to scaling out. I believe, it would be easier to build a platform where we could grow without having to rework code. 

I really enjoyed the DataBricks platform, but believe it can't compete with the connectedness of the AWS suite of products.