In [1]:
import dask.dataframe as dd

df = dd.read_csv('*.csv')

In [5]:
df.shape

(Delayed('int-ccbdb42f-86ed-4e0b-bd11-01427aedb437'), 5)

In [3]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [4]:
df.groupby('CLASS').count().compute()

       COMMENT_ID  AUTHOR  DATE  CONTENT
CLASS
0             951     951   951      951
1            1005    1005   760     1005

In [18]:
df['CONTENT'] = df.loc[:, 'CONTENT'].str.lower()

In [19]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test i have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtarggvgtwq check this out .﻿,1

In [22]:
df[df['CONTENT'].str.contains('check')].groupby('CLASS').count().compute()

       COMMENT_ID  AUTHOR  DATE  CONTENT
CLASS
0              19      19    19       19
1             461     461   294      461

In the world of data science there is a plethora of platforms, libraries, and languages that us as data scientists have at our disposal to complete many common tasks. Of course, the decision of which to use can best be made when one understands the pros and cons of each especially when considering processing runtime and scalability. For example, python is an amazing tool for prototyping different machine learning models and for quick data analyses and exploration with the pandas library. However, when working with big data these tools may face major runtime and memory issues. Using Dask and Numba we can alleviate many of these problems. These are libraries which greatly speed up the processing time of python code when working with dataframes and scientific computations. I personally like these libraries because they allow us to write easy-to-understand python code without many of its previously discussed issues. If memory usage and processing power continued to be issues I would consider migrating to a Spark/Scala environment because they can be used to process big data faster and "scale up" much easier when required.