In [2]:
import dask.dataframe as dd

In [3]:
ls

lost+found/     Youtube01-Psy.csv        Youtube04-Eminem.csv
__MACOSX/       Youtube02-KatyPerry.csv  Youtube05-Shakira.csv
Untitled.ipynb  Youtube03-LMFAO.csv      YouTube-Spam-Collection-v1.zip

In [35]:
df = dd.read_csv('Youtube0*.csv')
df

Dask DataFrame Structure:
              COMMENT_ID  AUTHOR    DATE CONTENT  CLASS
npartitions=5
                  object  object  object  object  int64
                     ...     ...     ...     ...    ...
...                  ...     ...     ...     ...    ...
                     ...     ...     ...     ...    ...
                     ...     ...     ...     ...    ...
Dask Name: from-delayed, 15 tasks

In [36]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [37]:
len(df)

1956

In [38]:
df['CONTENT'] = df['CONTENT'].str.lower()

In [39]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test i have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtarggvgtwq check this out .﻿,1

In [42]:
df['CLASS'].value_counts().compute()

1    1005
0     951
Name: CLASS, dtype: int64

In [40]:
df['CHECK'] = df['CONTENT'].str.contains('check')

In [41]:
df['CHECK'].value_counts().compute()

False    1476
True      480
Name: CHECK, dtype: int64

In [45]:
check_df = df[df['CONTENT'].str.contains("check")]

In [46]:
check_df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,CHECK
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"huh, anyway check out this you[tube] channel: ...",1,True
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,hey guys check out my new channel and our firs...,1,True
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtarggvgtwq check this out .﻿,1,True
5,LZQPQhLyRh9-wNRtlZDM90f1k0BrdVdJyN_YsaSwfxc,Jason Haddad,2013-11-26T02:55:11,"hey, check out my new website!! this site is a...",1,True
7,z122wfnzgt30fhubn04cdn3xfx2mxzngsl40k,Bob Kanowski,2013-11-28T12:33:27,i turned it on mute as soon is i came on i jus...,0,True

In [47]:
check_df['CLASS'].value_counts().compute()

1    461
0     19
Name: CLASS, dtype: int64

AWS SageMaker is an incredible tool for machine learning when Google Colab or your own computer is not powerful enough to get things done in a reasonable amount of time. It allows you to essentially rent out a much more powerful computer just for the amount of time that you need it. AWS EMR is similar but except for a Jupyter Notebook it allows you to use the Apache Hadoop framework to process vast amounts of data. Numba is a compiler that allows some Python and NumPy to run much faster than normal. While many of these things, like Scala, Spark, etc, are new to me and therefore a little unfamiliar, it is obvious that if one were to ever need to process huge amounts of data that one would need to take advantage of these tools so that they could operate on a reasonable timeframe.