In [1]:
# import Dask Tools
import dask.dataframe as dd
from dask.distributed import Client
from dask import compute, delayed

# conda install -n python3 dask 

# read df and 
pay = dd.read_csv('PS_20174392719_1491204439457_log.csv', sep=',', dtype={'isFlaggedFraud': 'object'})
pay.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [2]:
pay.isna().sum().compute()
# there's a single NaN, odd

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    1
dtype: int64

In [3]:
pay = pay.drop('isFlaggedFraud', axis=1)
# it was difficult to find this value so this was the easiest solution since this is where kaggle answers are stored (I believe)

In [4]:
y = pay['isFraud']
X = pay.drop('isFraud', axis=1)
# define target and features

In [5]:
import dask.array as da 
from dask_ml.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [6]:
#additional imports for preprocessing and regression
from dask_ml.preprocessing import StandardScaler
from dask_ml.compose import ColumnTransformer
from dask_ml.linear_model import LogisticRegression