_Lambda School Data Science — Big Data_

# AWS SageMaker

### Links

#### AWS
- The Open Guide to Amazon Web Services: EC2 Basics _(just this one short section!)_ https://github.com/open-guides/og-aws#ec2-basics
- AWS in Plain English https://www.expeditedssl.com/aws-in-plain-english
- Amazon SageMaker » Create an Amazon SageMaker Notebook Instance https://docs.aws.amazon.com/sagemaker/latest/dg/gs-setup-working-env.html
- Amazon SageMaker » Install External Libraries https://docs.aws.amazon.com/sagemaker/latest/dg/nbi-add-external.html

#### Dask
- Why Dask? https://docs.dask.org/en/latest/why.html
- Use Cases https://docs.dask.org/en/latest/use-cases.html
- User Interfaces https://docs.dask.org/en/latest/user-interfaces.html

#### Numba
- A ~5 minute guide http://numba.pydata.org/numba-doc/latest/user/5minguide.html

## 1. Estimate pi
https://en.wikipedia.org/wiki/Approximations_of_π#Summing_a_circle's_area

### With plain Python

In [1]:
import random

def monte_carlo_pi(nsamples):
    acc = 0
    for _ in range(int(nsamples)):
        x = random.random()
        y = random.random()
        if (x**2 + y**2) < 1.0:
            acc += 1
    return 4.0 * acc / nsamples

In [2]:
%%time
monte_carlo_pi(1e7)

CPU times: user 4.2 s, sys: 0 ns, total: 4.2 s
Wall time: 4.19 s

3.1422052

### With Numba
http://numba.pydata.org/

In [3]:
from numba import njit

In [4]:
@njit
def monte_carlo_pi(nsamples):
    acc = 0
    for _ in range(int(nsamples)):
        x = random.random()
        y = random.random()
        if (x**2 + y**2) < 1.0:
            acc += 1
    return 4.0 * acc / nsamples

In [5]:
%%time
monte_carlo_pi(1e7)

CPU times: user 382 ms, sys: 8.62 ms, total: 391 ms
Wall time: 1.53 s

3.1421428

## 2. Loop a slow function

### With plain Python

In [8]:
from time import sleep

def slow_square(x):
    sleep(1)
    return x**2

In [9]:
%%time
[slow_square(n) for n in range(16)]

CPU times: user 1.62 ms, sys: 460 µs, total: 2.08 ms
Wall time: 16 s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

### With Dask
- https://examples.dask.org/delayed.html
- http://docs.dask.org/en/latest/setup/single-distributed.html

In [6]:
from dask import compute, delayed

In [11]:
%%time
compute(delayed(slow_square)(n) for n in range(16))

CPU times: user 12.7 ms, sys: 1.31 ms, total: 14 ms
Wall time: 1.01 s

([0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225],)

## 3. Analyze millions of Instacart orders

### Download data
https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2

In [7]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-02-28 18:13:00--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.0.198
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.0.198|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  74.1MB/s    in 2.6s

2019-02-28 18:13:03 (74.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [12]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [13]:
%cd instacart_2017_05_01

/home/ec2-user/SageMaker/DS-Unit-3-Sprint-3-Big-Data/module1-aws-sagemaker/instacart_2017_05_01

In [14]:
!ls -lh *.csv

-rw-r--r-- 1 ec2-user ec2-user 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 ec2-user ec2-user  270 May  2  2017 departments.csv
-rw-r--r-- 1 ec2-user ec2-user 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 ec2-user ec2-user  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 ec2-user ec2-user 104M May  2  2017 orders.csv
-rw-r--r-- 1 ec2-user ec2-user 2.1M May  2  2017 products.csv

### With Pandas

#### Load & merge data

In [15]:
import pandas as pd

In [16]:
%%time
order_products = pd.concat([
    pd.read_csv('order_products__prior.csv'), 
    pd.read_csv('order_products__train.csv')])

order_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 1384616
Data columns (total 4 columns):
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtypes: int64(4)
memory usage: 1.3 GB
CPU times: user 10.1 s, sys: 2.09 s, total: 12.2 s
Wall time: 12.2 s

In [17]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
products = pd.read_csv('products.csv')
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
product_id       49688 non-null int64
product_name     49688 non-null object
aisle_id         49688 non-null int64
department_id    49688 non-null int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [19]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [20]:
%%time
order_products = pd.merge(order_products, products[['product_id', 'product_name']])

CPU times: user 7.04 s, sys: 2 s, total: 9.04 s
Wall time: 9.05 s

In [21]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered        product_name
0         2       33120                  1          1  Organic Egg Whites
1        26       33120                  5          0  Organic Egg Whites
2       120       33120                 13          0  Organic Egg Whites
3       327       33120                  5          1  Organic Egg Whites
4       390       33120                 28          1  Organic Egg Whites

#### Most popular products?

In [24]:
%%time
order_products['product_name'].value_counts()

CPU times: user 4.24 s, sys: 0 ns, total: 4.24 s
Wall time: 4.22 s

Banana                                                          491291
Bag of Organic Bananas                                          394930
Organic Strawberries                                            275577
Organic Baby Spinach                                            251705
Organic Hass Avocado                                            220877
Organic Avocado                                                 184224
Large Lemon                                                     160792
Strawberries                                                    149445
Limes                                                           146660
Organic Whole Milk                                              142813
Organic Raspberries                                             142603
Organic Yellow Onion                                            117716
Organic Garlic                                                  113936
Organic Zucchini                                                109412
Organic Blueberries                                             105026
Cucumber Kirby                                                   99728
Organic Fuji Apple                                               92889
Organic Lemon                                                    91251
Organic Grape Tomatoes                                           88078
Apple Honeycrisp Organic                                         87272
Seedless Red Grapes                                              86748
Organic Cucumber                                                 85005
Honeycrisp Apple                                                 83320
Organic Baby Carrots                                             80493
Sparkling Water Grapefruit                                       79245
Organic Half & Half                                              79006
Organic Large Extra Fancy Fuji Apple                             78056
Yellow Onions                                                    76929
Organic Baby Arugula                                             75752
Organic Gala Apples                                              75655
                                                                 ...
Buddy Bear Probiotic Orange Flavor Chewable                          1
Dried Porcini Mushroom                                               1
Blueberry Blast Fruit and Chia Seed Bar                              1
Vitality Chicken Breasts with Flaxseed & Vitamins Dog Treats         1
Thick 'n Chunky Salsa Mild                                           1
Organic Veggie Ground                                                1
Flame Roasted Red Peppers Spreadable Cheese                          1
Flax Oil, Organic, Omega-3, Original Formula                         1
Organic Aleppo Pepper                                                1
Greek Blended Cherry Fat Free Yogurt                                 1
Piquillo & Jalapeno Bruschetta                                       1
Vegan Coconut Milk Caramels With Sea Salt                            1
Hennepin Farmhouse Ale                                               1
Original Jerky                                                       1
Easter Basket                                                        1
Multi-Surface Sunflower Scent Everyday Cleaner                       1
Blackened Turkey                                                     1
Florentine Spinach and Cheese Pasta Sauce                            1
Cabernet Sauvignon 2015                                              1
Citronge Extra Fine Orange Liqueur                                   1
Cajun Sides Dirty Rice                                               1
Escapes Variety Pack                                                 1
Brut Prosecco                                                        1
Coconut Bliss Pineapple Coconut                                      1
Lowfat Cherry Lime Supernova Kefir Cultured Milk Smoothie            1
Anarchy For Her Daily Fragrance                                      1
Microwavable Triple Cheese Macaroni & Cheese                         1
Coconut Cardamom Almond Butter                                       1
Hot Chili with Beans                                                 1
Tangerine Melon Bubble Bath                                          1
Name: product_name, Length: 49685, dtype: int64

#### Organic?

In [25]:
%%time
order_products['organic'] = order_products['product_name'].str.contains('Organic')

CPU times: user 18.2 s, sys: 0 ns, total: 18.2 s
Wall time: 18.2 s

In [26]:
%%time
order_products['organic'].value_counts()

CPU times: user 394 ms, sys: 0 ns, total: 394 ms
Wall time: 393 ms

False    23163118
True     10655988
Name: organic, dtype: int64

### With Dask
https://examples.dask.org/dataframe.html

In [28]:
import dask.dataframe as dd
from dask.distributed import Client

client = Client(n_workers=16)
client

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/distributed/bokeh/core.py:57: UserWarning:
Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the diagnostics dashboard on a random port instead.
  warnings.warn('\n' + msg)

#### Load & merge data
https://examples.dask.org/dataframes/01-data-access.html#Read-CSV-files

In [ ]:
# you can use dask to load in data using a wildcard(*)
# order_products = dd.read_csv('order_products*.csv')

In [29]:
%%time
order_products = dd.concat([
    dd.read_csv('order_products__prior.csv'), 
    dd.read_csv('order_products__train.csv')])

order_products.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 4 entries, order_id to reordered
dtypes: int64(4)CPU times: user 54.2 ms, sys: 9.06 ms, total: 63.3 ms
Wall time: 44.6 ms

In [30]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [31]:
products = dd.read_csv('products.csv')
products.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 4 entries, product_id to department_id
dtypes: object(1), int64(3)

In [32]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [33]:
%%time
order_products = dd.merge(order_products, products[['product_id', 'product_name']])

CPU times: user 14 ms, sys: 0 ns, total: 14 ms
Wall time: 12.2 ms

In [34]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered        product_name
0         2       33120                  1          1  Organic Egg Whites
1        26       33120                  5          0  Organic Egg Whites
2       120       33120                 13          0  Organic Egg Whites
3       327       33120                  5          1  Organic Egg Whites
4       390       33120                 28          1  Organic Egg Whites

http://docs.dask.org/en/latest/dataframe-performance.html#persist-intelligently

In [38]:
%%time
order_products = order_products.persist()

CPU times: user 8.92 ms, sys: 0 ns, total: 8.92 ms
Wall time: 8.57 ms

#### Most popular products?

In [35]:
%%time
order_products['product_name'].value_counts()

CPU times: user 2.02 ms, sys: 353 µs, total: 2.37 ms
Wall time: 2.31 ms

Dask Series Structure:
npartitions=1
    int64
      ...
Name: product_name, dtype: int64
Dask Name: value-counts-agg, 84 tasks

In [39]:
%%time
order_products['product_name'].value_counts().compute()

CPU times: user 352 ms, sys: 104 ms, total: 456 ms
Wall time: 1.37 s

Banana                                                       491291
Bag of Organic Bananas                                       394930
Organic Strawberries                                         275577
Organic Baby Spinach                                         251705
Organic Hass Avocado                                         220877
Organic Avocado                                              184224
Large Lemon                                                  160792
Strawberries                                                 149445
Limes                                                        146660
Organic Whole Milk                                           142813
Organic Raspberries                                          142603
Organic Yellow Onion                                         117716
Organic Garlic                                               113936
Organic Zucchini                                             109412
Organic Blueberries                                          105026
Cucumber Kirby                                                99728
Organic Fuji Apple                                            92889
Organic Lemon                                                 91251
Organic Grape Tomatoes                                        88078
Apple Honeycrisp Organic                                      87272
Seedless Red Grapes                                           86748
Organic Cucumber                                              85005
Honeycrisp Apple                                              83320
Organic Baby Carrots                                          80493
Sparkling Water Grapefruit                                    79245
Organic Half & Half                                           79006
Organic Large Extra Fancy Fuji Apple                          78056
Yellow Onions                                                 76929
Organic Baby Arugula                                          75752
Organic Gala Apples                                           75655
                                                              ...
Frittata, Farmer's Market                                         1
Vanilla Bean Sheep Milk Ice Cream                                 1
Pure Peppermint Extract                                           1
Pure Performance Restorative Shampoo Chamomile & Honey            1
Pumpkin Spice Almond Nog                                          1
Tangerine Melon Bubble Bath                                       1
Organic Aleppo Pepper                                             1
Hennepin Farmhouse Ale                                            1
Indian Wells Merlot                                               1
Coconut Bliss Pineapple Coconut                                   1
Coconut Cardamom Almond Butter                                    1
Pasta Shapes In Tomato Sauce                                      1
Hot Oatmeal Multigrain Raisin                                     1
Water With Electrolytes                                           1
Sweetart Jelly Beans                                              1
Cinnamon Rice Pudding Snacks                                      1
Citronge Extra Fine Orange Liqueur                                1
Lowfat Cherry Lime Supernova Kefir Cultured Milk Smoothie         1
Lindor Peppermint White Chocolate Truffles                        1
Organic Better Rest Tea Blend                                     1
Aged Parmesan Cheese Sticks                                       1
Molasses, Bead                                                    1
Orange Recharge                                                   1
Pasta & Enchilada Sauce, Organic, 7 Veggie                        1
Ultra Sun Blossom Liquid 90 loads Fabric Enhancers                1
Organic Ice Cream Birthday Cake                                   1
11.3 Oz. Oreo Fudge Creme Double Chocolate                        1
Cld/Flu Van Chrry                                                 1
12 Inch Taper Candle White                                        1
All Natural Stevia Liquid Extract Sweetener                       1
Name: product_name, Length: 49685, dtype: int64

#### Organic?

In [36]:
%%time
order_products['organic'] = order_products['product_name'].str.contains('Organic')

CPU times: user 0 ns, sys: 7.1 ms, total: 7.1 ms
Wall time: 6.02 ms

In [37]:
%%time
order_products['organic'].value_counts()

CPU times: user 1.84 ms, sys: 0 ns, total: 1.84 ms
Wall time: 1.7 ms

Dask Series Structure:
npartitions=1
    int64
      ...
Name: organic, dtype: int64
Dask Name: value-counts-agg, 117 tasks

In [40]:
%%time
order_products['organic'].value_counts().compute()

CPU times: user 103 ms, sys: 46.9 ms, total: 150 ms
Wall time: 139 ms

False    23163118
True     10655988
Name: organic, dtype: int64

## 4. Fit a machine learning model

### Load data

In [41]:
%cd ../ds1-predictive-modeling-challenge

/home/ec2-user/SageMaker/DS-Unit-3-Sprint-3-Big-Data/module1-aws-sagemaker/ds1-predictive-modeling-challenge

In [42]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

train_features = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')

X_train_numeric = train_features.select_dtypes(np.number)
y_train = train_labels['status_group']

### With 2 cores (like Google Colab)
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [43]:
model = RandomForestClassifier(n_estimators=200, oob_score=True, n_jobs=2, random_state=42, verbose=1)
model.fit(X_train_numeric, y_train)
print('Out-of-bag score:', model.oob_score_)

[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:    2.7s
[Parallel(n_jobs=2)]: Done 196 tasks      | elapsed:   11.6s
[Parallel(n_jobs=2)]: Done 200 out of 200 | elapsed:   11.9s finished

Out-of-bag score: 0.7206397306397306

### With 16 cores (on AWS m4.4xlarge)

In [46]:
model = RandomForestClassifier(n_estimators=200, oob_score=True, n_jobs=16, random_state=42, verbose=1)
model.fit(X_train_numeric, y_train)
print('Out-of-bag score:', model.oob_score_)

[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.4s
[Parallel(n_jobs=16)]: Done 168 tasks      | elapsed:    2.2s
[Parallel(n_jobs=16)]: Done 200 out of 200 | elapsed:    2.6s finished

Out-of-bag score: 0.7206397306397306

## ASSIGNMENT

Revisit a previous assignment or project that had slow speeds or big data.

Make it better with what you've learned today!

You can use `wget` or Kaggle API to get data. Some possibilities include:

- https://www.kaggle.com/c/ds1-predictive-modeling-challenge
- https://www.kaggle.com/ntnu-testimon/paysim1
- https://github.com/mdeff/fma
- https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2 



Also, you can play with [Datashader](http://datashader.org/) and its [example datasets](https://github.com/pyviz/datashader/blob/master/examples/datasets.yml)!