In [2]:
import dask.dataframe as dd
from dask.distributed import client

In [4]:
%%time
psy_dd = dd.read_csv('Youtube01-Psy.csv')
kp_dd = dd.read_csv('Youtube02-KatyPerry.csv')
lmfao_dd = dd.read_csv('Youtube03-LMFAO.csv')
em_dd = dd.read_csv('Youtube04-Eminem.csv')
shak_dd = dd.read_csv('Youtube05-Shakira.csv')

CPU times: user 44.5 ms, sys: 0 ns, total: 44.5 ms
Wall time: 43 ms

In [5]:
psy_dd.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [6]:
kp_dd.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12pgdhovmrktzm3i23es5d5junftft3f,lekanaVEVO1,2014-07-22T15:27:50,i love this so much. AND also I Generate Free ...,1
1,z13yx345uxepetggz04ci5rjcxeohzlrtf4,Pyunghee,2014-07-27T01:57:16,http://www.billboard.com/articles/columns/pop-...,1
2,z12lsjvi3wa5x1vwh04cibeaqnzrevxajw00k,Erica Ross,2014-07-27T02:51:43,Hey guys! Please join me in my fight to help a...,1
3,z13jcjuovxbwfr0ge04cev2ipsjdfdurwck,Aviel Haimov,2014-08-01T12:27:48,http://psnboss.com/?ref=2tGgp3pV6L this is the...,1
4,z13qybua2yfydzxzj04cgfpqdt2syfx53ms0k,John Bello,2014-08-01T21:04:03,Hey everyone. Watch this trailer!!!!!!!! http...,1

In [13]:
spam_dd = dd.concat([psy_dd, kp_dd], axis = 0)
spam_dd = dd.concat([spam_dd, lmfao_dd], axis = 0)
spam_dd = dd.concat([spam_dd, em_dd], axis = 0)
spam_dd = dd.concat([spam_dd, shak_dd], axis = 0)

In [14]:
len(spam_dd)

1956

In [19]:
len(spam_dd.columns)

5

In [21]:
spam_dd['CLASS'].value_counts().compute()

1    1005
0     951
Name: CLASS, dtype: int64

In [41]:
suspect_word = 'check'
suspect_word_count = 0
spam_nospam_lst = []

for item in spam_dd['CONTENT'].compute():
    item = item.lower()
    if suspect_word in item:
        suspect_word_count += 1

In [42]:
suspect_word_count

480

## Part 2: Writing Portion

_Write a paragraph comparing some of these technology options. For example, you could describe which technology you may personally prefer to use, in what circumstances, for what reasons._

# This week we have had the opportunity to explore various distributed cloud computing platforms and get a feel for their capabilities for working with data at scale. Although my experience with both platorms is limited, as a Data Scientist I appreciated the UI and capabilities of databricks as compared to AWS SageMaker and EMR. **What makes me give databricks the edge?** <br> 

After playing around with databricks for a few hours, I was beginning to sense that this platform was designed for data scientists. The UI is simple and provides all the tools that a data scientist would need for data exploration. Databricks has builtin visualization tools that allow data scientists to quickly visualize their data. Seeing a dataset visually often reveals interesting insights that is more difficult to notice numerically. 

Another useful feature in Databricks is the ability to use 'magic' commands to seamlessly use different languages within a notebook. As a data scientist, it is particularly convenient when analyzing a dataset to use languages like SQL to make very specific queries. 

I have not yet had enough experience working with 'big data' to develop a preference for one language over another, however I do find SQL exceptionally useful in searching for items with very specific parameters in a dataset. I am beginning to understand the strengths of each language (scala, python, and sql) and I can foresee me using a mixture of all three in my data science career.