In [1]:
import dask.dataframe as dd
from dask.distributed import Client
from dask import compute, delayed

In [6]:
all_files = ['Youtube01-Psy.csv', 'Youtube02-KatyPerry.csv',
             'Youtube03-LMFAO.csv', 'Youtube04-Eminem.csv', 'Youtube05-Shakira.csv']

In [8]:
comments = dd.read_csv(all_files)

In [9]:
comments.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [12]:
comments['CLASS'].value_counts().compute()

1    1005
0     951
Name: CLASS, dtype: int64

In [23]:
spam = comments.loc[comments['CLASS'] == 1]
legit = comments.loc[comments['CLASS'] == 0]

In [24]:
spam['CONTENT'].str.lower().str.contains('check').value_counts().compute()

False    544
True     461
Name: CONTENT, dtype: int64

In [25]:
legit['CONTENT'].str.lower().str.contains('check').value_counts().compute()

False    932
True      19
Name: CONTENT, dtype: int64

You've been introduced to a variety of platforms (AWS SageMaker, AWS EMR, Databricks), libraries (Numba, Dask, MapReduce, Spark), and languages (Python, SQL, Scala, Java) that can "scale up" or "scale out" for faster processing of big data.

Write a paragraph comparing some of these technology options. For example, you could describe which technology you may personally prefer to use, in what circumstances, for what reasons.

I personally enjoied using Apache Spark SQL to query datasets. the inline language changing of databricks, makes using the best tool for the job quite easy. I think this is a feature google colab ought to adopt. 

Dask seems useful in initial exploration for a large dataset. Numba would be usefull for conducting linear algebra operations and other numpy specialties on large datasets. 

I really detested scala at first, being a python native, but as the week progressed I actually started to enjoy using it. The added scaleability of the Scala + Spark platform would prove usefull again with a large dataset.