In [1]:
import dask.dataframe as dd

In [2]:
%%time
Youtube = dd.read_csv('Youtube*.csv')

CPU times: user 9.77 ms, sys: 7.13 ms, total: 16.9 ms
Wall time: 25.9 ms

In [5]:
Youtube.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [11]:
print(len(Youtube.columns), " Columns")

print(len(Youtube.index), " Rows")

5  Columns
1956  Rows

In [16]:
# The comments were manually labeled as spam or legitimate. 
# Spam was coded with a “1” and legitimate comments with a “0”.

Youtube['CLASS'].value_counts().compute()

1    1005
0     951
Name: CLASS, dtype: int64

In [28]:
Youtube['CONTENT'] = Youtube['CONTENT'].str.lower()

In [31]:
Youtube['CHECK'] = Youtube['CONTENT'].str.contains('check')

In [32]:
Youtube['CHECK'].value_counts().compute()

False    1476
True      480
Name: CHECK, dtype: int64

In [48]:
Youtube.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,CHECK
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"huh, anyway check out this you[tube] channel: ...",1,True
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,hey guys check out my new channel and our firs...,1,True
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test i have to say murdev.com,1,False
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1,False
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtarggvgtwq check this out .﻿,1,True

In [50]:
check_df = Youtube[Youtube.CHECK != False]

In [51]:
check_df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,CHECK
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"huh, anyway check out this you[tube] channel: ...",1,True
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,hey guys check out my new channel and our firs...,1,True
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtarggvgtwq check this out .﻿,1,True
5,LZQPQhLyRh9-wNRtlZDM90f1k0BrdVdJyN_YsaSwfxc,Jason Haddad,2013-11-26T02:55:11,"hey, check out my new website!! this site is a...",1,True
7,z122wfnzgt30fhubn04cdn3xfx2mxzngsl40k,Bob Kanowski,2013-11-28T12:33:27,i turned it on mute as soon is i came on i jus...,0,True

In [52]:
check_df.CHECK.value_counts().compute()

True    480
Name: CHECK, dtype: int64

In [53]:
check_df.CLASS.value_counts().compute()

1    461
0     19
Name: CLASS, dtype: int64